@charset "UTF-8";
/* CSS Document */
/* @abuaita */

		body {
			color: #ffffff;
			font-family: Lora, sans-serif;
			font-size:14px;
			/*background-color: #E3CDEA;}*/
			background-color: #420060;
		}
		
		h1 {
			color: #fff;
			font-size: 2.2em;
			font-weight: normal;
		}
		
		.message{
			width: 332px;
			margin: auto;
			margin-top: 15%;
		}
		
		.links{
			width: 514px;
			margin: auto;
			margin-top: 5px;
			color: #D6A4D3;
		}
		
		hr{
			width:80%;
			border-color: #8B8B8B;
		}
		
		a{
			font-size: 1em;
			padding: 0px 20px 0px 20px;
			color: #D6A4D3;
			text-decoration: none;
		}
		
		a:hover{
			color: #AE85AB;
		}